In [1]:
import pandas as pd

# 1.

In [3]:
x=pd.Series([10,20,30,40,50])
print(x)
print(type(x))

0    10
1    20
2    30
3    40
4    50
dtype: int64
<class 'pandas.core.series.Series'>

# 2.

In [7]:
y=pd.DataFrame({'X':[11,12,13],'Y':[14,15,16],'Z':[17,18,19]})
print(y)
type(y)
y.columns

    X   Y   Z
0  11  14  17
1  12  15  18
2  13  16  19

Index(['X', 'Y', 'Z'], dtype='object')

# 3.

In [10]:
z= pd.Series([1,2,3,"Pandas",False,[40,50,60]])
print(z[2::])
a= [1,2,3,'Pandas',False,[40,50,60]]
print(a[2::])

2               3
3          Pandas
4           False
5    [40, 50, 60]
dtype: object
[3, 'Pandas', False, [40, 50, 60]]

# 4.

In [12]:
b= [1,2,3,'DataFrame',True,[70,80,90]]
print(b[-1:-4:-1])

[[70, 80, 90], True, 'DataFrame']

# 5.

In [13]:
c= [5,10,15,20,25,30]
d= pd.Series(c)
print(d)
print(d[2])

0     5
1    10
2    15
3    20
4    25
5    30
dtype: int64
15

# 6.

In [14]:
e={'A':[1,2,3],'B':[4,5,6]}
f= pd.DataFrame(e)
f['A']

0    1
1    2
2    3
Name: A, dtype: int64

# 7.

In [16]:
g={'A':[1,2,3],'B':[4,5,6]}
h= pd.DataFrame(g)
print(h.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
dtypes: int64(2)
memory usage: 180.0 bytes
None

# 8.

In [17]:
df = pd.read_csv('sample.csv')
df

,Series_reference,Period,Data_value,Suppressed,STATUS,UNITS,Magnitude,Subject,Group,Series_title_1,Series_title_2,Series_title_3,Series_title_4,Series_title_5
0,BDCQ.SF1AA2CA,2016.06,1116.386,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
1,BDCQ.SF1AA2CA,2016.09,1070.874,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
2,BDCQ.SF1AA2CA,2016.12,1054.408,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
3,BDCQ.SF1AA2CA,2017.03,1010.665,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
4,BDCQ.SF1AA2CA,2017.06,1233.700,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 2),Sales (operating income),Forestry and Logging,Current prices,Unadjusted,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7390,BDCQ.SF8RSCA,2022.12,518.615,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted,NaN
7391,BDCQ.SF8RSCA,2023.03,663.630,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted,NaN
7392,BDCQ.SF8RSCA,2023.06,617.507,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted,NaN
7393,BDCQ.SF8RSCA,2023.09,673.068,NaN,R,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted,NaN
7394,BDCQ.SF8RSCA,2023.12,511.098,NaN,F,Dollars,6,Business Data Collection - BDC,Industry by financial variable (NZSIOC Level 1),Operating profit,"Arts, Recreation and Other Services",Current,Unadjusted,NaN

# 9.

In [19]:
i=pd.DataFrame()
print(i)

Empty DataFrame
Columns: []
Index: []

# 10.

In [24]:
j={'A':[1,2],'B':[3,4]}
k= pd.DataFrame(j)
k['C']=[5,6]
print(k)

   A  B  C
0  1  3  5
1  2  4  6